.foto {
	background-image: url("river.jpg");
	width: 600px;
	height: 380px;
	margin: 0 auto;
	display: block;
	position: relative;
}
.foto div {
	width: 10px;
	height: 10px;
	position: relative;
	display: inline-block;
	background: black;
	top: 350px;
	left: 250px;
	border-radius: 50%;
	border: 2px solid white;
	margin-right: 5px;
	cursor: pointer;
}
.foto .pip {
	background: #BE0814;
	cursor: default;
	box-shadow:  0 0 5px 1px white;
}

