div {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #ECF5E4;
	margin: 50px auto;
	border: 22px solid #95CD8B;
	border-right: 22px solid #D0E6BB;

}
div p{
	display: inline-block;
	margin: 30px 25px 0 22px;
	font-family: serif;
	font-size: 35px;
}
